.text {
    font-size: calc(128 / 1440 * 100vw);
    text-align: center;
}

.bookmark-name, li {
    width: 50%;
    margin: 0;
}

.bookmark-name {
    display: inline;
    position: relative;

    font-size: var(--lg-font-size);
    vertical-align: top;
    font-weight: bold;
}   

.link-container {
    position: relative;
    font-size: calc(64 / 1440 * 100vw);
    width: 50%;
    left: calc(200 / 1440 * 100vw);
}


.add-bookmark {
    position: relative;

    width: calc(361 / 1440 * 100vw);
    height: calc(136 / 1440 * 100vw);

    border-radius: var(--sm-radius);
    font-size: var(--md-font-size);
    
    left: 50%;
    transform: translateX(-50%);
    

    font-family: var(--Jost);

    border: 0;
    margin: 0;
    margin-top: calc(56 / 1440 * 100vw);
    margin-bottom: calc(56 / 1440 * 100vw);

    background-color: var(--light-blue);
    color: white;
}

li:has(.test) {
    position: relative;
    /* left: 250px; */
}

.test {
    position: relative;
    margin-bottom: 50px;
}