.text {
    font-size: calc(128 / 1440 * 100vw);
    text-align: center;
}

.subject, .note {
    width: 100%;
    margin: 0;

}

.subject {
    display: inline;
    font-size: var(--lg-font-size);
    vertical-align: top;
    font-weight: bold;
    overflow-wrap: anywhere;
}

.note {
    position: relative;
    font-size: calc(64 / 1440 * 100vw);
    margin-top: calc(34 / 1440 * 100vw);
    margin-bottom: calc(34 / 1440 * 100vw);
    left: calc(165 / 1440 * 100vw);
}

.add-lg-note {
    position: relative;

    --font-size: calc(64 / 1440 * 100vw);

    width: calc(361 / 1440 * 100vw);
    height: calc(136 / 1440 * 100vw);

    border-radius: var(--sm-radius);
    font-size: var(--font-size);
    
    left: 50%;
    transform: translateX(-50%);
    

    font-family: var(--Jost);

    border: 0;
    margin: 0;
    margin-top: calc(56 / 1440 * 100vw);

    background-color: var(--light-blue);
    color: white;
} 

.add-note {
    position: relative;

    width: calc(263 / 1440 * 100vw);
    height: calc(99 / 1440 * 100vw);

    border-radius: var(--sm-radius);
    font-size: calc(40 / 1440 * 100vw);
    
    left: 50%;
    transform: translateX(-50%);
    

    font-family: var(--Jost);

    border: 0;
    margin: 0;
    margin-top: calc(38 / 1440 * 100vw);
    margin-bottom: calc(38 / 1440 * 100vw);

    background-color: var(--light-blue);
    color: white;
}