div:has(>.subject), .day, div:has(>.note) {
    display: grid;

    align-items: center;

    grid-template-columns: 3fr 1fr 1fr 1fr;

    width: calc(100% - (50 / 1440 * 100vw));

    margin: 0;
    margin-top: calc(77 / 1440 * 100vw);
    margin-inline: auto;
}

ul:not(.subject) {
    margin: 0;
}

div:has(>.subject) {
    position: relative;
    left: calc(23 / 1440 * 100vw);
}

.day {
    width: calc(100% - (150 / 1440 * 100vw));
    grid-template-columns: 3.35fr 1fr 1fr;
    margin-top: calc(34 / 1440 * 100vw) !important;
}

.note {
    margin: 0;
}

.note {
    width: calc(650 / 1440 * 100vw);
}

.sm.edit {
    position: relative;
    left: calc(9 / 1440 * 100vw);
}

div:has(>.note) {
    position: relative;

    width: calc(100% - (110 / 1440 * 100vw));
    grid-template-columns: 3.17fr 1fr 1fr;

    margin: 0;
    left: calc(110 / 1440 * 100vw);
    overflow-wrap: anywhere;
}

.delete, .edit, .add {
    justify-self: right;

    width: calc(198 / 1440 * 100vw);
    height: calc(77 / 1440 * 100vw);
    
    outline: 0;
    border: 0;

    border-radius: var(--sm-radius);

    margin-right: calc(40 / 1440 * 100vw);

    font-size: calc(42 / 1440 * 100vw);

    color: white;
}

.sm {
    width: calc(180 / 1440 * 100vw);
    font-size: calc(40 / 1440 * 100vw);
}

.delete {
    background-color: var(--red);
}

.edit {
    background-color: var(--cyan);
}

.add {
    background-color: var(--green)
}

.day {
    position: relative;
    margin: 0;
    margin-left: calc(150 / 1440 * 100vw);
    font-size: calc(64 / 1440 * 100vw);
    font-weight: normal;
    left: calc(0 / 1440 * 100vw);
}

